@model Practica_Coches_AWS.Models.Coche

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Coche</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="idCoche" class="control-label">IdCoche</label>
                <input type="number" name="IdCoche" class="form-control" />
            </div>
            <div class="form-group">
                <label for="marca" class="control-label">Marca</label>
                <input type="text" name="marca" class="form-control" />
            </div>
            <div class="form-group">
                <label for="conductor" class="control-label">Conductor</label>
                <input type="text" name="conductor" class="form-control" />
            </div>
            <div class="form-group">
                <label for="file" class="control-label">File</label>
                <input type="file" name="file" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexServidor">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
